on:
  workflow_dispatch: {}
  schedule:
    # Run every hour
    - cron: 0 */1 * * *

name: Report Failed Workflow Runs

permissions:
  contents: read

jobs:
  actions:
    name: Actions
    if: ${{ github.repository }} == "aws-powertools/powertools-lambda-java"
    runs-on: ubuntu-latest
    permissions:
      actions: read
    env:
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - run: |
          gh api /repos/${{ github.repository }}/actions/runs?status=failure > current_run.json
      - uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131
        continue-on-error: true
        with:
          name: PreviousRuns
          path: $GITHUB_WORKSPACE/previous_runs.json
      - run: |
          ls -a 
