on:
  workflow_dispatch:
    inputs:
      language:
        description: Project language
        type: choice
        options:
          - Python
          - TypeScript
        required: true

      environment:
        description: Environment to deploy to
        type: choice
        options:
          - Beta
          - Prod
        required: true

      write_latest:
        description: Write to the latest path
        type: boolean
        required: false

      package_version:
        description: Semantic Version of published layer
        type: string
        required: true

      layer_version:
        description: Layer version
        type: string
        required: true

name: SSM Parameters
run-name: SSM Parameters - ${{ inputs.language }}

permissions:
  contents: read

jobs:
  python:
    runs-on: ubuntu-latest
    if: inputs.language == 'Python'
    environment: SSM
    strategy:
      matrix:
        # region: ["af-south-1", "ap-east-1", "ap-northeast-1", "ap-northeast-2", "ap-northeast-3",
        #     "ap-south-1", "ap-south-2", "ap-southeast-1", "ap-southeast-2", "ap-southeast-3",
        #     "ap-southeast-4", "ca-central-1", "ca-west-1", "eu-central-1", "eu-central-2",
        #     "eu-north-1", "eu-south-1", "eu-south-2", "eu-west-1", "eu-west-2", "eu-west-3",
        #     "il-central-1", "me-central-1", "me-south-1", "sa-east-1", "us-east-1",
        #     "us-east-2", "us-west-1", "us-west-2", "ap-southeast-5"
        #   ]
        region: [
          "eu-west-1"
        ]
    
    permissions:
      contents: write
      id-token: write
    steps:
      - id: creds
        uses: aws-actions/configure-aws-credentials@61815dcd50bd041e203e49132bacad1fd04d2708
        with: 
          aws-region: ${{ matrix.region }}
          role-to-assume: >-
            ${{
              matrix.region == 'af-south-1' && secrets.AF_SOUTH_1 ||
              matrix.region == 'ap-east-1' && secrets.AP_EAST_1 ||
              matrix.region == 'ap-northeast-1' && secrets.AP_NORTHEAST_1 ||
              matrix.region == 'ap-northeast-2' && secrets.AP_NORTHEAST_2 ||
              matrix.region == 'ap-northeast-3' && secrets.AP_NORTHEAST_3 ||
              matrix.region == 'ap-south-1' && secrets.AP_SOUTH_1 ||
              matrix.region == 'ap-south-2' && secrets.AP_SOUTH_2 ||
              matrix.region == 'ap-southeast-1' && secrets.AP_SOUTHEAST_1 ||
              matrix.region == 'ap-southeast-2' && secrets.AP_SOUTHEAST_2 ||
              matrix.region == 'ap-southeast-3' && secrets.AP_SOUTHEAST_3 ||
              matrix.region == 'ap-southeast-4' && secrets.AP_SOUTHEAST_4 ||
              matrix.region == 'ap-southeast-5' && secrets.AP_SOUTHEAST_5 ||
              matrix.region == 'ca-central-1' && secrets.CA_CENTRAL_1 ||
              matrix.region == 'ca-west-1' && secrets.CA_WEST_1 ||
              matrix.region == 'eu-central-1' && secrets.EU_CENTRAL_1 ||
              matrix.region == 'eu-central-2' && secrets.EU_CENTRAL_2 ||
              matrix.region == 'eu-north-1' && secrets.EU_NORTH_1 ||
              matrix.region == 'eu-south-1' && secrets.EU_SOUTH_1 ||
              matrix.region == 'eu-south-2' && secrets.EU_SOUTH_2 ||
              matrix.region == 'eu-west-1' && secrets.EU_WEST_1 ||
              matrix.region == 'eu-west-2' && secrets.EU_WEST_2 ||
              matrix.region == 'eu-west-3' && secrets.EU_WEST_3 ||
              matrix.region == 'il-central-1' && secrets.IL_CENTRAL_1 ||
              matrix.region == 'me-central-1' && secrets.ME_CENTRAL_1 ||
              matrix.region == 'me-south-1' && secrets.ME_SOUTH_1 ||
              matrix.region == 'sa-east-1' && secrets.SA_EAST_1 ||
              matrix.region == 'us-east-1' && secrets.US_EAST_1 ||
              matrix.region == 'us-east-2' && secrets.US_EAST_2 ||
              matrix.region == 'us-west-1' && secrets.US_WEST_1 ||
              matrix.region == 'us-west-2' && secrets.US_WEST_2 ||
              ''
            }}
          mask-aws-account-id: true
      - id: write-version
        env:
          prefix: ${{ inputs.environment == 'beta' && '/aws/service/powertools/sthulb/beta' || '/aws-service/powertools/sthulb/' }}
        run: |
          aws ssm put-parameter --name ${{ env.prefix }}/python/arm64/python3.8/${{ inputs.package_version }} --value "arn:aws:lambda:${{ matrix.region }}:017000801446:layer:AWSLambdaPowertoolsPythonV3-python38-arm64:${{ inputs.layer_version }}" --type String
          aws ssm put-parameter --name ${{ env.prefix }}/python/arm64/python3.9/${{ inputs.package_version }} --value "arn:aws:lambda:${{ matrix.region }}:017000801446:layer:AWSLambdaPowertoolsPythonV3-python39-arm64:${{ inputs.layer_version }}" --type String
          aws ssm put-parameter --name ${{ env.prefix }}/python/arm64/python3.10/${{ inputs.package_version }} --value "arn:aws:lambda:${{ matrix.region }}:017000801446:layer:AWSLambdaPowertoolsPythonV3-python310-arm64:${{ inputs.layer_version }}" --type String
          aws ssm put-parameter --name ${{ env.prefix }}/python/arm64/python3.11/${{ inputs.package_version }} --value "arn:aws:lambda:${{ matrix.region }}:017000801446:layer:AWSLambdaPowertoolsPythonV3-python311-arm64:${{ inputs.layer_version }}" --type String
          aws ssm put-parameter --name ${{ env.prefix }}/python/arm64/python3.12/${{ inputs.package_version }} --value "arn:aws:lambda:${{ matrix.region }}:017000801446:layer:AWSLambdaPowertoolsPythonV3-python312-arm64:${{ inputs.layer_version }}" --type String
          aws ssm put-parameter --name ${{ env.prefix }}/python/arm64/python3.13/${{ inputs.package_version }} --value "arn:aws:lambda:${{ matrix.region }}:017000801446:layer:AWSLambdaPowertoolsPythonV3-python313-arm64:${{ inputs.layer_version }}" --type String

          aws ssm put-parameter --name ${{ env.prefix }}/python/x86_64/python3.8/${{ inputs.package_version }} --value "arn:aws:lambda:${{ matrix.region }}:017000801446:layer:AWSLambdaPowertoolsPythonV3-python38-x86_64:${{ inputs.layer_version }}" --type String
          aws ssm put-parameter --name ${{ env.prefix }}/python/x86_64/python3.9/${{ inputs.package_version }} --value "arn:aws:lambda:${{ matrix.region }}:017000801446:layer:AWSLambdaPowertoolsPythonV3-python39-x86_64:${{ inputs.layer_version }}" --type String
          aws ssm put-parameter --name ${{ env.prefix }}/python/x86_64/python3.10/${{ inputs.package_version }} --value "arn:aws:lambda:${{ matrix.region }}:017000801446:layer:AWSLambdaPowertoolsPythonV3-python310-x86_64:${{ inputs.layer_version }}" --type String
          aws ssm put-parameter --name ${{ env.prefix }}/python/x86_64/python3.11/${{ inputs.package_version }} --value "arn:aws:lambda:${{ matrix.region }}:017000801446:layer:AWSLambdaPowertoolsPythonV3-python311-x86_64:${{ inputs.layer_version }}" --type String
          aws ssm put-parameter --name ${{ env.prefix }}/python/x86_64/python3.12/${{ inputs.package_version }} --value "arn:aws:lambda:${{ matrix.region }}:017000801446:layer:AWSLambdaPowertoolsPythonV3-python312-x86_64:${{ inputs.layer_version }}" --type String
          aws ssm put-parameter --name ${{ env.prefix }}/python/x86_64/python3.13/${{ inputs.package_version }} --value "arn:aws:lambda:${{ matrix.region }}:017000801446:layer:AWSLambdaPowertoolsPythonV3-python313-x86_64:${{ inputs.layer_version }}" --type String

      - id: write-latest
        if: inputs.write_latest == true 
        env:
          prefix: ${{ inputs.environment == 'beta' && '/aws/service/powertools/sthulb/beta' || '/aws-service/powertools/sthulb/' }} 
        run: |
          aws ssm put-parameter --name ${{ env.prefix }}/python/arm64/python3.8/latest --value "arn:aws:lambda:${{ matrix.region }}:017000801446:layer:AWSLambdaPowertoolsPythonV3-python38-arm64:${{ inputs.layer_version }}" --type String
          aws ssm put-parameter --name ${{ env.prefix }}/python/arm64/python3.9/latest --value "arn:aws:lambda:${{ matrix.region }}:017000801446:layer:AWSLambdaPowertoolsPythonV3-python39-arm64:${{ inputs.layer_version }}" --type String
          aws ssm put-parameter --name ${{ env.prefix }}/python/arm64/python3.10/latest --value "arn:aws:lambda:${{ matrix.region }}:017000801446:layer:AWSLambdaPowertoolsPythonV3-python310-arm64:${{ inputs.layer_version }}" --type String
          aws ssm put-parameter --name ${{ env.prefix }}/python/arm64/python3.11/latest --value "arn:aws:lambda:${{ matrix.region }}:017000801446:layer:AWSLambdaPowertoolsPythonV3-python311-arm64:${{ inputs.layer_version }}" --type String
          aws ssm put-parameter --name ${{ env.prefix }}/python/arm64/python3.12/latest --value "arn:aws:lambda:${{ matrix.region }}:017000801446:layer:AWSLambdaPowertoolsPythonV3-python312-arm64:${{ inputs.layer_version }}" --type String
          aws ssm put-parameter --name ${{ env.prefix }}/python/arm64/python3.13/latest --value "arn:aws:lambda:${{ matrix.region }}:017000801446:layer:AWSLambdaPowertoolsPythonV3-python313-arm64:${{ inputs.layer_version }}" --type String

          aws ssm put-parameter --name ${{ env.prefix }}/python/x86_64/python3.8/latest --value "arn:aws:lambda:${{ matrix.region }}:017000801446:layer:AWSLambdaPowertoolsPythonV3-python38-x86_64:${{ inputs.layer_version }}" --type String
          aws ssm put-parameter --name ${{ env.prefix }}/python/x86_64/python3.9/latest --value "arn:aws:lambda:${{ matrix.region }}:017000801446:layer:AWSLambdaPowertoolsPythonV3-python39-x86_64:${{ inputs.layer_version }}" --type String
          aws ssm put-parameter --name ${{ env.prefix }}/python/x86_64/python3.10/latest --value "arn:aws:lambda:${{ matrix.region }}:017000801446:layer:AWSLambdaPowertoolsPythonV3-python310-x86_64:${{ inputs.layer_version }}" --type String
          aws ssm put-parameter --name ${{ env.prefix }}/python/x86_64/python3.11/latest --value "arn:aws:lambda:${{ matrix.region }}:017000801446:layer:AWSLambdaPowertoolsPythonV3-python311-x86_64:${{ inputs.layer_version }}" --type String
          aws ssm put-parameter --name ${{ env.prefix }}/python/x86_64/python3.12/latest --value "arn:aws:lambda:${{ matrix.region }}:017000801446:layer:AWSLambdaPowertoolsPythonV3-python312-x86_64:${{ inputs.layer_version }}" --type String
          aws ssm put-parameter --name ${{ env.prefix }}/python/x86_64/python3.13/latest --value "arn:aws:lambda:${{ matrix.region }}:017000801446:layer:AWSLambdaPowertoolsPythonV3-python313-x86_64:${{ inputs.layer_version }}" --type String


  typescript:
    runs-on: ubuntu-latest
    if: inputs.language == 'TypeScript'
    environment: SSM
    strategy:
      matrix:
        # region: ["af-south-1", "ap-east-1", "ap-northeast-1", "ap-northeast-2", "ap-northeast-3",
        #     "ap-south-1", "ap-south-2", "ap-southeast-1", "ap-southeast-2", "ap-southeast-3",
        #     "ap-southeast-4", "ca-central-1", "ca-west-1", "eu-central-1", "eu-central-2",
        #     "eu-north-1", "eu-south-1", "eu-south-2", "eu-west-1", "eu-west-2", "eu-west-3",
        #     "il-central-1", "me-central-1", "me-south-1", "sa-east-1", "us-east-1",
        #     "us-east-2", "us-west-1", "us-west-2", "ap-southeast-5"
        #   ]
        region: [
          "eu-west-1"
        ]
    
    permissions:
      contents: write
      id-token: write
    steps:
      - id: creds
        uses: aws-actions/configure-aws-credentials@61815dcd50bd041e203e49132bacad1fd04d2708
        with: 
          aws-region: ${{ matrix.region }}
          role-to-assume: >-
            ${{
              matrix.region == 'af-south-1' && secrets.AF_SOUTH_1 ||
              matrix.region == 'ap-east-1' && secrets.AP_EAST_1 ||
              matrix.region == 'ap-northeast-1' && secrets.AP_NORTHEAST_1 ||
              matrix.region == 'ap-northeast-2' && secrets.AP_NORTHEAST_2 ||
              matrix.region == 'ap-northeast-3' && secrets.AP_NORTHEAST_3 ||
              matrix.region == 'ap-south-1' && secrets.AP_SOUTH_1 ||
              matrix.region == 'ap-south-2' && secrets.AP_SOUTH_2 ||
              matrix.region == 'ap-southeast-1' && secrets.AP_SOUTHEAST_1 ||
              matrix.region == 'ap-southeast-2' && secrets.AP_SOUTHEAST_2 ||
              matrix.region == 'ap-southeast-3' && secrets.AP_SOUTHEAST_3 ||
              matrix.region == 'ap-southeast-4' && secrets.AP_SOUTHEAST_4 ||
              matrix.region == 'ap-southeast-5' && secrets.AP_SOUTHEAST_5 ||
              matrix.region == 'ca-central-1' && secrets.CA_CENTRAL_1 ||
              matrix.region == 'ca-west-1' && secrets.CA_WEST_1 ||
              matrix.region == 'eu-central-1' && secrets.EU_CENTRAL_1 ||
              matrix.region == 'eu-central-2' && secrets.EU_CENTRAL_2 ||
              matrix.region == 'eu-north-1' && secrets.EU_NORTH_1 ||
              matrix.region == 'eu-south-1' && secrets.EU_SOUTH_1 ||
              matrix.region == 'eu-south-2' && secrets.EU_SOUTH_2 ||
              matrix.region == 'eu-west-1' && secrets.EU_WEST_1 ||
              matrix.region == 'eu-west-2' && secrets.EU_WEST_2 ||
              matrix.region == 'eu-west-3' && secrets.EU_WEST_3 ||
              matrix.region == 'il-central-1' && secrets.IL_CENTRAL_1 ||
              matrix.region == 'me-central-1' && secrets.ME_CENTRAL_1 ||
              matrix.region == 'me-south-1' && secrets.ME_SOUTH_1 ||
              matrix.region == 'sa-east-1' && secrets.SA_EAST_1 ||
              matrix.region == 'us-east-1' && secrets.US_EAST_1 ||
              matrix.region == 'us-east-2' && secrets.US_EAST_2 ||
              matrix.region == 'us-west-1' && secrets.US_WEST_1 ||
              matrix.region == 'us-west-2' && secrets.US_WEST_2 ||
              ''
            }}
          mask-aws-account-id: true
      - id: write-version
        env:
          prefix: ${{ inputs.environment == 'beta' && '/aws/service/powertools/sthulb/beta' || '/aws-service/powertools/sthulb/' }} 
        run: |
          aws ssm put-parameter --name ${{ env.prefix }}/typescript/generic/all/${{ inputs.package_version }} --value "arn:aws:lambda:${{ matrix.region }}:094274105915:layer:AWSLambdaPowertoolsTypeScriptV2:${{ inputs.layer_version }}" --type String

      - id: write-latest
        if: inputs.write_latest == true 
        env:
          prefix: ${{ inputs.environment == 'beta' && '/aws/service/powertools/sthulb/beta' || '/aws-service/powertools/sthulb/' }} 
        run: |
          aws ssm put-parameter --name ${{ env.prefix }}/typescript/generic/all/latest --value "arn:aws:lambda:${{ matrix.region }}:094274105915:layer:AWSLambdaPowertoolsTypeScriptV2:${{ inputs.layer_version }}" --type String